.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 80px 60px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.22);
  border-radius: 4px;

  @include mobile {
    max-width: 300px;
    padding: 50px 40px;
  }

  p {
    font-family: 'Nunito';
    font-size: rem(22);
    line-height: 1.5;

    @include mobile {
      font-size: rem(19);
    }
  }

  img {
    margin-top: 30px;
    margin-bottom: 20px;

    @include mobile {
      max-width: rem(22);
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  button {
    background-color: $separador;
    color: $links;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;

    @include mobile {
      padding: 10px 15px;
    }
  }
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}